# Директория для установленных зависимостей
node_modules/

# Файлы и папки, связанные с IDE
.idea/
.vscode/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Директория для собранных файлов, например, после сборки проекта
/dist
/build

# Файлы, связанные с операционной системой
.DS_Store
Thumbs.db

# Файлы, создаваемые системой
*.swp
*.swo

